.video {
  width: 100%;
  position: absolute;
  object-fit: cover;
  display: block;
  z-index: -1;
  overflow: hidden;
}

.container {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.textContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  z-index: 5;
}

.logoContainer {
  display: flex;
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  height: 50%;
  width: 100%;
  line-height: 60px;
  text-align: center;
}

.sloganContainer {
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 50%;
  z-index: -1;
}

.shopContainer {
  display: flex;
  position: absolute;
  top: 84%;
}

.logo {
  display: inline-block;
  font-size: 160px;
  vertical-align: top;
  font-family: GLIZZY;
  text-align: center;
  text-shadow: 0px 0px 15px #ffffff, 0px 0px 15px #ffffff, 0px 0px 15px #ffffff;
  padding-bottom: 50px;
  --webkit-background-clip: padding-box;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-text-shadow: 0px 0px 15px #ffffff, 0px 0px 15px #ffffff, 0px 0px 15px #ffffff;
}

.slogan {
  font-family: PTMonoBold;
  font-size: 23px;
  text-align: center;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  text-shadow: 0px 0px 12px #ffffff, 0px 0px 12px #ffffff, 0px 0px 12px #ffffff;
  --webkit-background-clip: padding-box;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-text-shadow: 0px 0px 12px #ffffff, 0px 0px 12px #ffffff, 0px 0px 12px #ffffff;
}

.shop {
  font-family: PTMonoBold;
  font-size: 17px;
}

.footer {
  display: flex;
  position: absolute;
  height: 7%;
  width: 100%;
  bottom: 0px;
  padding-left: 13%;
  padding-right: 13%;
  justify-content: space-between;
  align-items: center;
}

.copyrightContainer {
  display: flex;
}

.copyrightIcon {
  font-family: PTMonoBold;
  color: gray;
  padding-bottom: 20px;
}

.copyright {
  font-family: PTMonoBold;
  font-size: 13px;
  color: gray;
}

.socialMediaContainer {
  display: flex;
  justify-content: space-around;
}

.socialMediaIcon {
  color: gray;
  z-index: 6;
  padding-left: 4px;
}

.socialMediaIcon:hover {
  opacity: 0.7;
}

@media (min-width: 541px) and (max-width: 914px) and (orientation: landscape) {
  .logoContainer {
    height: 55%;
    line-height: 0px;
  }
  .logo {
    font-size: 90px;
    line-height: 60px;
    padding-bottom: 35px;
  }
  .slogan {
    font-size: 14px;
    padding-top: 12px;
    padding-left: 120px;
    padding-right: 120px;
  }
  .shopContainer {
    bottom: 10%;
  }
  .shop {
    font-size: 13px;
  }
  .footer {
    bottom: 8px;
  }
}

@media (min-width: 541px) and (max-width: 914px) and (orientation: portrait) {
  .logoContainer {
    height: 55%;
    line-height: 0px;
  }
  .logo {
    font-size: 110px;
    line-height: 60px;
    padding-bottom: 50px;
  }
  .slogan {
    font-size: 20px;
    padding-top: 45px;
    padding-left: 150px;
    padding-right: 150px;
  }
  .video {
    bottom: 2%;
    height: 102%;
  }
  .shopContainer {
    bottom: 12%;
  }
  .textContainer {
    bottom: 5%;
  }
  .shop {
    font-size: 15px;
  }
  .footer {
    padding-left: 10%;
    padding-right: 10%;
  }
  .video {
    bottom: -7%;
    height: 120%;
    margin-left: 10px;
  }
}

@media (min-width: 300px) and (max-width: 540px) and (orientation: portrait) {
  .logoContainer {
    height: 59%;
    line-height: 0px;
  }
  .logo {
    font-size: 80px;
    line-height: 70px;
    padding-bottom: 8vh;
  }
  .slogan {
    font-size: 17px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .shopContainer {
    bottom: 0%;
  }
  .shop {
    font-size: 15px;
  }
  .video {
    bottom: -5%;
    height: 120%;
    margin-left: 7px;
  }
  .textContainer {
    bottom: 5%;
  }
  .footer {
    padding-left: 7%;
    padding-right: 7%;
  }
}

@media (max-width: 299px) {
  .container {
    margin-left: 11px;
  }
  .logoContainer {
    height: 60%;
    line-height: 0px;
    /* width: 100%; */
  }
  .logo {
    font-size: 25vw;
    line-height: 70px;
    padding-bottom: 10vh;
  }
  .slogan {
    font-size: 5vw;
    padding-top: 5vw;
    padding-left: 0px;
    padding-right: 0px;
  }
  .shopContainer {
    bottom: 40%;
  }
  .shop {
    font-size: 12px;
  }
  .video {
    bottom: -5%;
    height: 120%;
    margin-left: 5px;
  }
  .textContainer {
    bottom: 4%;
  }
  .footer {
    padding-left: 4%;
    padding-right: 4%;
    height: 1%;
  }
  .copyright {
    font-size: 12px;
    width: 50%;
  }
  .socialMediaIcon {
    padding-left: 1px;
  }
}

/* @media (min-width: 1281px) {
  .shopContainer {
    top: 84.5%;
  }
  .shop {
    font-size: 15px;
  }
} */
